config/database.yml.mine
config/filepicker.yml
config/braintree.yml
config/aws.yml

*.dump
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/log
/tmp
/bin
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.env
/config/application.yml
/config/database.yml

## Environment normalisation:
/.bundle
/vendor/bundle

